{"ignition":{"config":{},"security":{"tls":{}},"timeouts":{},"version":"2.2.0"},"networkd":{},"passwd":{"users":[{"name":"core","sshAuthorizedKeys":["${SSH_AUTHORIZED_KEY}"]}]},"storage":{},"systemd":{"units":[{"mask":true,"name":"etcd2.service"},{"mask":true,"name":"locksmithd.service"},{"mask":true,"name":"update-engine.service"}]}}
